body{
  background-color: #088f8f;
  
}
#b{
  font-size: 50pt;
}
#b1 {
  position: relative;
  bottom: 91pt;
  left: 100pt;
  font-size: 50pt;
  text-align: center;
}
h1{
  font-family: sans-serif;
  color: cornsilk;
  font-size: 50pt;
}
#h22{
  position: relative;
  bottom: 75pt;
  font-size: 10pt;
  list-style-type: none;

}
header{
  position: relative;
  top: 240pt;
  
  justify-content:baseline;
  background-color: aliceblue;
}
li{
  text-decoration: none;
  overflow: hidden;

  
}
ul{
  size: 10pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#a1{
  
  padding: 10pt;
  color: black;
}
nav{
  background-color: white;
}
div{
  animation-name: hello;
  animation: 20s;
}
@keyframes hello{
  from{background-color: #0e76a8;}
  to{background-color: aqua;}
}
#bs {
  background-color: skyblue;
  position: relative;
  top: 470pt;
  font-size: 40pt;
  width: 500pt;
  border: solid;
  border-color: skyblue;
  color: white;
}
#b1t{
  color: white;
  border: solid;
  border-color: brown;
  position: relative;
  top: 310pt;
  right: 800pt;
  font-size: 50pt;
  height: 80pt;
  background-color: brown;
}
#b1:hover{
  font-size: 50.5pt;
}
